ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  background: #f8f6f6;
  font-family: Arial;
  font-weight: normal;
}

.todo {
  position: relative;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4vh 0;
  background: #fff;
  border: 1px solid;
  border-color: #dfdcdc;
  border-radius: 2px;
}

.todo-list {
  border-top: 1px solid #e6ebed;
}

.form-wrapper {
  margin-right: auto;
  margin-left: auto;
  z-index: 200;
  position: relative;
  text-align: center;
  top: 9vh;
  width: 96.5vh;
  padding: 1.9vh;
  background: #ded5d5;
}

.todo-list li {
  position: relative;
  line-height: 5vh;
  font-size: 3vh;
}
.editItem {
  margin: 0 !important;
  padding: 0 !important;
}

li:hover {
  background: #eaeaea;
}

.spandeletebtn {
  border: 0;
  background: transparent;
  line-height: 5vh;
  font-size: 3vh;
  color: #8b8f97;
  cursor: pointer;
  font-family: cursive;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2vh 2.5vh 2vh 2.5vh;
}

.signc:hover {
  background-color: #f44336;
  color: white;
}

.form-wrapper input:focus {
  outline: 0;
  background: #fff;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #fff;
  font-weight: normal;
  font-style: italic;
}

input {
  font-family: inherit;
  font-size: inherit;
  margin: 10px;
  outline: none;
  text-decoration: inherit;
}
.form-wrapper input:-moz-placeholder {
  color: #fff;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
  color: #fff;
  font-weight: normal;
  font-style: italic;
}

.button:hover {
  background: #97b4d2;
}

.button:active,
.button:focus {
  background: #779abd;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form-wrapper input {
  width: 78vh;
  height: 5vh;
  padding: 10px 5px;
  font: bold 15px;
  border: 0;
  background: #fff;
}

.todo {
  padding: 8.9vh 0;
}

.closebtn {
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
  height: 5vh;
  width: 14vh;
  font: bold 2vh;
  color: #000;
  text-transform: uppercase;
  background: #aec6de;
}

.main {
  top: 2vh;
  position: relative;
}

.header {
  margin-left: auto;
  margin-right: auto;
  height: 4vh;
  width: 100.3vh;
  border-radius: 5px;
  z-index: 500;
  position: relative;
}

.header span {
  float: right;
  font-size: 14px;
}

.header h1 {
  text-align: left;
  font-size: 4vh;
  height: 7vh;
  line-height: 7vh;
  background-color: #aec6de;
  padding: 0.75em;
  color: #000;
  margin: 0;
  position: relative;
}

.deletebtn {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transform-origin: 55% 55%;
}

form {
  margin-bottom: inherit;
  display: inherit;
  margin-top: inherit;
}

input:disabled,
textarea:disabled {
  color: inherit;
}
input {
  background-color: inherit;
  -webkit-rtl-ordering: inherit;
  user-select: inherit;
  cursor: inherit;
  border-width: inherit;
  border-style: inherit;
  border-color: inherit;
  border-image: inherit;
}

.loading {
  text-align: center;
  margin-top: 25vh;
}

.checked {
  background-color: #e0e0e0 !important;
}

.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.content {
  padding: 2.2vh 15px 2vh 2.3vh;
  display: block;
  width: 83.5vh;
  margin-left: 5.6vh;
}
